<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZopperWebSuite" parallel="none">
  <test name="BuyScenario">
    <classes>
      <class name="com.zopperSanity.buyNowForProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- ZopperWebSuite -->
